*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
}

header  {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;

}

header ul{
    list-style: none;
    color: black;
    position: absolute;
    left: 20px;
}
a{
    text-decoration: none;
    font-style: italic;
}

.cards{
    display: grid;
    margin: 0 20% 0 20%;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    justify-items: center;
    gap: 50px;
    padding: 20px;
}

.card{
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 400px;
    width: 600px;
    background: transparent ;
    box-shadow: 2px 6px 15px blueviolet;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.card .description{
    background-color: rgb(2, 2, 2);
    color: white;
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 100%;
    transition: all 0.3s ease ;

}
.card .description h2{
    text-align: center;
}
.card .description p,details{
    color: transparent;
}
.card:hover .description{
    height: 50%;
    background-color: rgb(146, 81, 207);
    color: black;
}
.card:hover p,details{
    color: black
}

@media (max-width: 768px) {
    .cards {
        grid-template-columns: 1fr;
        margin: 0 10% 0 10%;
    }
    .card {
        width: 100%;
    }
    header {
        display: flex;
        flex-direction: row; /* mantiene izquierda-derecha */
        justify-content: space-between;
        padding: 20px;
        height: auto;
    }
    header ul {
        position: static;
        display: flex;
        gap: 20px;
    }
}